*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "container1 container2"
                        "container3 container4";
    gap:1rem ;
    
}

.container1{
    grid-area: container1;
    display: flex;
}

.container2{
    grid-area: container2;
    display: flex;
}

.container3{
    grid-area: container3;
    display: flex;
}

.container4{
    grid-area: container4;
    display: flex;
}

article{
    width: 20%;
    height: 14rem;
    font-size: 1.6rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: antiquewhite;
    box-shadow: 0.5rem 0.5rem 0.5rem gray;
}

.picture{
    width: 90%;
    height: 80%;
}

h3{
    margin-left: 1rem;
}