*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "container1 container2"
                        "container3 container4";
    gap:1rem ;
    
}

.container1{
    background-color: aqua;
    grid-area: container1;
    display: flex;
}

.container2{
    background-color: burlywood;
    grid-area: container2;
    display: flex;
}

.container3{
    background-color: rgb(51, 246, 113);
    grid-area: container3;
    display: flex;
}

.container4{
    background-color: rgb(211, 146, 254);
    grid-area: container4;
    display: flex;
}

article{
    width: 20%;
    height: 14rem;
    font-size: 1.8rem;
    margin: 1rem;
    border-radius: 2rem;
    border: 1rem;
}

.picture{
    width: 90%;
    height: 80%;
}